@import 'style/_vars';
@import 'style/_mixins';
@import '../imports/ui/components/auth/auth';
@import '../imports/ui/components/navigation/navigation';
@import '../imports/ui/components/home/home';
@import '../imports/ui/components/admin/admin';
@import '../imports/ui/components/admin/countries/countries';
@import '../imports/ui/components/admin/products/products';
@import '../imports/ui/components/navigationInputs/navigationInputs';
@import '../imports/ui/components/navigationInputs/inputTag/inputTag'; 
@import '../imports/ui/components/navigationInputs/inputTagProduct/inputTagProduct'; 
@import '../imports/ui/components/navigationInputs/inputTagProduct/productNavigation/productNavigation'; 
@import '../imports/ui/components/navMenu/navMenu';
@import '../imports/ui/components/popUp/popUp';
@import '../imports/ui/components/resume/resume';
@import '../imports/ui/components/resume/vizHeader/vizHeader';
@import '../imports/ui/components/resume/datePicker/datePicker';
@import '../imports/ui/components/favoritos/favoritos';
@import '../imports/ui/components/dataviz/importadores/importadores';
@import '../imports/ui/components/dataviz/exportadores/exportadores';
@import '../imports/ui/components/dataviz/zoomController/zoomController';
@import '../imports/ui/components/dataviz/mapComponent';
@import '../imports/ui/components/dataviz/vbars/vbars';
@import '../imports/ui/components/dataviz/treemap/treemap';

* {
	box-sizing: border-box;
	font-family: $Avenir;
}

body {
	@extend .body;
	background-color : $light-gray !important;
	&.date-picker-open{
		@media (max-width: 960px){
			overflow:hidden;
		}
	}
}

input.md-input{
	font-family: $Avenir !important;
	border-bottom-width: 1px !important;
}
div[ui-view], home{
	min-height: 100%;
 }
.loading{
 	&.loaded{display: none;}
 	svg{
 		@extend .infinite-rotation;
 	}
 }
 .error{color: #ED1852 !important;}
