@import 'style/_vars';
@import 'style/_mixins';
@import '../imports/ui/components/auth/auth';
@import '../imports/ui/components/navigation/navigation';
@import '../imports/ui/components/home/home';
@import '../imports/ui/components/navigationInputs/navigationInputs';
@import '../imports/ui/components/navigationInputs/inputTag/inputTag'; 
@import '../imports/ui/components/navigationInputs/inputTagProduct/inputTagProduct'; 
@import '../imports/ui/components/navigationInputs/inputTagProduct/productNavigation/productNavigation'; 
@import '../imports/ui/components/navMenu/navMenu';
@import '../imports/ui/components/popUp/popUp';
@import '../imports/ui/components/resume/resume';
@import '../imports/ui/components/resume/vizHeader/vizHeader';
@import '../imports/ui/components/favoritos/favoritos';
@import '../imports/ui/components/dataviz/importadores/importadores';
@import '../imports/ui/components/dataviz/exportadores/exportadores';

* {
	box-sizing: border-box;
	font-family: $Avenir;
}

body {
	@extend .body;
	background-color : $light-gray !important;
}

input.md-input{
	font-family: $Avenir !important;
	border-bottom-width: 1px !important;
}

  