@import '_mixins';
//tipo
@font-face {
    font-family: Avenir;
    src: url('fonts/Avenir.eot'); /* IE9 Compat Modes */
    src: url('fonts/Avenir.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/Avenir.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/Avenir.ttf')  format('truetype'), /* Safari, Android, iOS */
}
$Avenir : Avenir, sans-serif;
//media queries
$mobile-v : '(max-width : 960px) and (max-height : 500px) and (min-width : 450px) and (min-height: 280px)';
$xs    : '(max-width: 599px)';
$gt-xs : '(min-width: 600px)';
$sm    : '(min-width: 600px) and (max-width: 959px)';
$gt-sm : '(min-width: 960px)';
$md    : '(min-width: 960px) and (max-width: 1279px)';
$gt-md : '(min-width: 1280px)';
$lg    : '(min-width: 1280px) and (max-width: 1919px)';
$gt-lg : '(min-width: 1920px)';
$xl    : '(min-width: 1920px)';
//@media #{$gt-sm} 
// transition
$transition : ease-in 0.2s;
$transition-long : ease-in-out 0.4s;
$transition-angular : cubic-bezier(.25,.8,.25,1) 0.4s; 
//MARGINS
$margin: 20px;
//COLORS
$light-gray: #F4F4F4;
$gray : #CECECE;
$dark-blue : #3A4A61;
$blue : #45AFE3;
$turquoise : #50D2C2;
$green : #48BA6C;
$purple : #9184C5;
$magenta : #ED1852;
$yellow : #FBB827;
//COLOR TEXT
$dark-gray : #9B9B9B;
$darkest-gray : #4A4A4A;
$darkest-blue : #344257;

[color="turquoise"]{background-color : $turquoise;}
[color="purple"]{background-color : $purple;}
[color="magenta"]{background-color : $magenta;}
[color="yellow"]{background-color : $yellow;}
[color="blue"]{background-color : $blue;}
[color="green"]{background-color : $green;}

//Shadows
$shadow : 0px 2px 4px 0px rgba(206,206,206,0.2);
$shadow-blur : 0px 2px 8px 0px rgba(206,206,206,0.2);
//TEXT STYLE

.body {
	font-size: 14px;
	color : $dark-gray;
	letter-spacing: 0.5px;
	line-height: 18px;
}
.body-dark {
	font-size: 14px;
	color : $dark-blue;
	letter-spacing: 0.5px;
	line-height: 18px;
}
.body-white {
	font-size: 14px;
	color : #FFFFFF;
	letter-spacing: 0.7px;
	line-height: 18px;
}
.caption {
	font-size: 10px;
	color : $darkest-blue;
	letter-spacing: 0.5px;
	line-height: 18px;	
}
.caption-dark-centered {
	font-size: 10px;
	color : $darkest-blue;
	text-align: center;
	letter-spacing: 0.5px;
	line-height: 18px;
}
.caption-white-centered {
	@extend .caption-dark-centered;
	font-size: 12px;
	color : #FFFFFF;
}
.caption-left-align {
	font-size: 10px;
	color : $dark-gray;
	letter-spacing: 0.5px;
	line-height: 18px;
}
.drop-list {
	font-size: 14px;
	color : $darkest-gray;
	letter-spacing: 0px;
	line-height: 20px;
}
.favorite-style {
	font-size: 14px;
	color : $darkest-gray;
	letter-spacing: 0.81px;
	line-height: 36px;
}
.fechas-calendario-white {
	font-size: 11px;
	color : #FFFFFF;
	text-align: center;
	letter-spacing: 0.61px;
	line-height: 16px;
}
.graph-info-horizontal {
	font-size: 10px;
	color : $dark-gray;
	text-align: center;
	letter-spacing: 0.42px;
	line-height: 14px;
}
.graph-into-left-side {
	font-size: 10px;
	color : $dark-gray;
	text-align: right;
	letter-spacing: 0.42px;
	line-height: 14px;
}
.h1-dark{
	font-size: 20px;
	color : $dark-blue;
	letter-spacing: 0.5px;
	line-height: 22px;
}
.h2-dark{
	font-size: 16px;
	color : $dark-blue;
	letter-spacing: 0.5px;
	line-height: 18px;
}
.h2-white {
	font-size: 16px;
	color : #FFFFFF;
	letter-spacing: 0.5px;
	line-height: 18px;
}
.indice-producto-numeros {
	font-size: 12px;
	color : $dark-blue;
	text-align: right;
	letter-spacing: 0px;
	line-height: 16px;
}
.label-text {
	font-size: 10px;
	color : $gray;
	letter-spacing: 0.58px;
	line-height: 14px;
}
.label-text-dark {
	font-size: 10px;
	color : $darkest-blue;
	letter-spacing: 0.49px;
	line-height: 14px;
}
.list-productos-filtro {
	font-size: 12px;
	color : $dark-blue;
	letter-spacing: 0px;
	line-height: 16px;
}
.list-productos-filtro {
	font-size: 12px;
	color : #FFFFFF;
	letter-spacing: 0px;
	line-height: 18px;
}
.material-desktop-light {
	font-size: 14px;
	color : $dark-gray;
	letter-spacing: 1.05px;
	line-height: 20px;
}
.menu-desktop-14pt{
	font-size: 14px;
	color : $darkest-gray;
	letter-spacing: 0.8px;
	line-height: 18px;
}
.mini{
	font-size: 8px;
	color : $dark-blue;
	text-align: center;
	letter-spacing: 0.5px;
	line-height: 18px;
}
.page-title{
	font-size: 14px;
	color : $dark-blue;
	letter-spacing: 0.8px;
	line-height: 16px;
}
.tool-tips{
	font-size: 10px;
	color : $dark-gray;
	letter-spacing: 0px;
	line-height: 14px;
}

//BUTTONS
.btn-dark-blue-100 {
	background-color: $dark-blue;
	@extend .body-white;
	font-size : 12px;
	width: 100%;
	text-align: center;
	padding: 1.3em;
	border: 1px solid $dark-blue;
	cursor: pointer;
	text-transform : uppercase;
	@include transition(all $transition);

	@media #{$gt-sm} {
		&:hover {
			background-color: transparent;
			color : $dark-blue;
		}
	}
}


.btn-dark-blue {
	background-color: $dark-blue;
	@extend .body-white;
	font-size : 12px;
	text-align: center;
	padding: 0.4em 1em;
	border: 1px solid $dark-blue;
	cursor: pointer;
	@include transition(all $transition);

	@media #{$gt-sm} {
		&:hover {
			background-color: transparent;
			color : $dark-blue;
		}
	}
}

.btn-transparent {
	background-color: transparent;
	@extend .body-dark;
	font-size : 12px;
	text-align: center;
	padding: 0.4em 1em;
	border: 1px solid $dark-blue;
	cursor: pointer;
	@include transition(all $transition);

	@media #{$gt-sm} {
		&:hover {
			background-color: $dark-blue;
			color : white;
		}
	}
}

.btn-dark-blue-uppercase {
	@extend .btn-dark-blue;
	text-transform : uppercase;
	font-size : 9px;
	padding: 0.8em 1.8em;
}
.btn-transparent-uppercase {
	@extend .btn-transparent;
	font-size : 9px;
	padding: 0.8em 1.8em;
	text-transform : uppercase;
}

.locked-area{
	pointer-events: none;
}
/**********
Animation
**********/

@-webkit-keyframes rotating{
  from {
  	@include transform(rotate(0deg));
  }
  to {
  	@include transform(rotate(360deg));
  }
}
@keyframes rotating {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(360deg));
  }
}

.infinite-rotation {
	@include animate(rotating 2s linear infinite);
}