home {
	display : block;
	position : relative;
	#home-view{
		@include transition(all $transition);
		&.menu-active{
			display : none;
			@media #{$gt-sm} {
				display : block;
				position: relative;
			}
			&:after {
			    opacity: 1;
			    pointer-events: all;
			}
		}
		&:after {
		    content: '\A';
		    position: absolute;
			width: 100%; 
			height:100%;
		    top:0; 
		    left:0;
		    background:rgba(74,74,74, 0.1);
		    @include transition(opacity $transition-long);
		    opacity: 0;
		    pointer-events: none;
		}
	}
	#fixed-buttons {
		position: absolute;
		bottom: 0; left: 0;
		padding : $margin;
		@media #{$gt-sm} {display : none;}
		div{
			display : inline-block;
			width: 40px;
			height: 40px;
			border-radius : 100%;
			margin-right: $margin/2;
			text-align : center;
			color : white;
			font-size: 20px;
			line-height: 40px;

			&.fav{ background-color : $yellow;}
			&.download{ background-color : $turquoise;}
			&.back-to-top{ background-color : $purple;}
		}
	}
}