
<div class="body-white no-point" nav-menu page-navigation ng-if="navMenu.menu == 'page-navigation'">
  <ul>
    <li ng-class="{'active' : navMenu.expanded === ''}" ng-click="navMenu.contractViz()">Resumen</li>
    <li ng-class="{'active' : navMenu.expanded === 'importadores'}" ng-click="navMenu.expandViz('importadores')">Importadores</li>
    <li ng-class="{'active' : navMenu.expanded === 'exportadores'}" ng-click="navMenu.expandViz('exportadores')">Exportadores</li>
    <li ng-class="{'active' : navMenu.expanded === 'codigo'}" ng-click="navMenu.expandViz('codigo')">Productos</li>
    <li ng-class="{'active' : navMenu.expanded === 'precio'}" ng-click="navMenu.expandViz('precio')">Precios</li>
    <li ui-sref="home.favoritos">Favoritos <span class="fav-count">{{navMenu.favoritesCount}}</span></li>
  </ul>
</div>

<div class="body-white no-point" nav-menu user-options ng-if="navMenu.menu == 'user-options'">
  <ul>
    <!--<li>Hola {{navMenu.currentUser.username}}</li>
    <li>Perfil y cuenta</li>
    <li>Preferencias</li>-->
    <li ng-if="navMenu.root.isAdmin" ui-sref="admin">Admin Panel</li>
    <li ng-click="navMenu.logout()">Log out</li>
  </ul>
</div>

<div class="body-black no-point" fav-menu ng-if="navMenu.menu == 'fav-menu'" ng-click="navMenu.stop($event)">
  <ul>
    <div class="title-fav body-black">Guardar como Favorito
      <span class="lnr lnr-cross"  ng-click="navMenu.toggleMenu()"></span>
    </div>
    <li>  
      <md-input-container flex>
        <label>
          Nombre
        </label>
        <input type="text" ng-model="navMenu.favoritos.name" class="body-dark"/>
      </md-input-container>
    </li>
    <li class="last-child">  
      <div class="caption-left-align">Color</div>
      <div class="colors">
        <div ng-click="navMenu.favoritos.color = 'turquoise'" turquoise ng-class="{'unselected' : (navMenu.favoritos.color != '' && navMenu.favoritos.color != 'turquoise')}"></div>
        <div ng-click="navMenu.favoritos.color = 'purple'" purple ng-class="{'unselected' : (navMenu.favoritos.color != '' && navMenu.favoritos.color != 'purple')}"></div>
        <div ng-click="navMenu.favoritos.color = 'magenta'" magenta ng-class="{'unselected' : (navMenu.favoritos.color != '' && navMenu.favoritos.color != 'magenta')}"></div>
        <div ng-click="navMenu.favoritos.color = 'yellow'" yellow ng-class="{'unselected' : (navMenu.favoritos.color != '' && navMenu.favoritos.color != 'yellow')}"></div>
        <div ng-click="navMenu.favoritos.color = 'blue'" blue ng-class="{'unselected' : (navMenu.favoritos.color != '' && navMenu.favoritos.color != 'blue')}"></div>
      </div>
    </li>
    
    <li ng-if="navMenu.favoritos.loading" class="loading">
      <md-progress-circular md-diameter="30" md-mode="indeterminate"></md-progress-circular>
    </li>
    <li ng-if="navMenu.favoritos.error" class="error">{{navMenu.favoritos.error}}</li>
    <li>
      <a class="btn-dark-blue" flex ng-click="navMenu.saveFavorite()">Guardar</a>
      <a class="btn-dark-blue" flex ng-click="navMenu.toggleMenu()">Cancelar</a>      
    </li>
    <li class="create-favorite" ng-class="{'show' : navMenu.favoritos.name}" ng-click="navMenu.saveFavorite()">
        <img src="img/checkmark.png">
    </li>

  </ul>
</div>