
<div class="body-white no-point" nav-menu page-navigation ng-if="navMenu.menu == 'page-navigation'">
  <ul>
    <li>Resumen</li>
    <li>Importadores</li>
    <li>Exportadores</li>
    <li>Productos</li>
    <li>Precios</li>
    <li>Favoritos</li>
  </ul>
</div>

<div class="body-white no-point" nav-menu user-options ng-if="navMenu.menu == 'user-options'">
  <ul>
    <li>Usuario <br> {{navMenu.currentUser.username}}</li>
    <li>Perfil y cuenta</li>
    <li>Preferencias</li>
    <li ng-click="navMenu.logout()">Log out</li>
  </ul>
</div>

<div class="body-black no-point" fav-menu ng-if="navMenu.menu == 'fav-menu'" ng-click="navMenu.stop($event)">
  <ul>
    <li>  
      <md-input-container flex>
        <label>
          Nombre
        </label>
        <input type="text" ng-model="navMenu.favoritos.name" class="body-dark"/>
      </md-input-container>
    </li>
    <li>  
      <md-input-container flex>
        <label>
          Color
        </label>
        <input type="text" ng-model="navMenu.favoritos.color" class="body-dark"/>
      </md-input-container>
    </li>
    <a class="btn-dark-blue" flex >Guardar</a>
    <a class="btn-dark-blue" flex ng-click="navMenu.closeMenu()">Cancelar</a>
  </ul>
</div>