favoritos {
	div[favoritos-container]{
		width: 100%;
		min-height: calc(100vh - 122px);
   	 	overflow: hidden;
		background-color: white;
		position: relative;
		@include box-shadow($shadow);
		@media #{$gt-sm} {
			min-height: 50vh;
			padding: $margin*2;
			width: auto;
			background-color: transparent;
			@include box-shadow($shadow-blur);
		}
		&:before{ 
			content : '';
			position: absolute;
			height: 100%; width: 1px;
			top: 0; left: 30px;
			background-color: $light-gray;
			z-index: 1;
			@media #{$gt-sm}{
				left: 70px;
			}
		}
		div.favoritos-header{
			height: 60px;
			background-color: $light-gray;
			padding: $margin;
			z-index: 2;
			@include transition(all $transition);
			@media #{$gt-sm} {
				background-color: #FFFFFF;
				border-bottom: 1px solid $light-gray;
				position: relative;
				z-index: 1;
				background-color: white;
			}
			h2{
				font-weight: 100;
				display: inline-block;
				margin: 0;
				float:left;
			}
			a{
				float: right;
				position: relative;
				top: - ($margin / 2.5);
				&:last-child{
					width: 73px;
					margin-right: $margin;
				}
			}
			
		}
		div[ng-repeat]{
			position:relative;
			border-bottom: 1px solid $light-gray;
			left: 0px;
			height: 73px;
			@include transition(all $transition);
			@media #{$gt-sm} {
				background-color: white;
				&:hover{
					//background-color: $dark-blue;
					//div[date] span {color : white !important;}
					//div[name] {color : white !important;}
					div[options-desktop] {display : inline-block; opacity: 1;
						a {
							color : $dark-blue ;
							border-color : $dark-blue !important;
						}
						span {
							color : $dark-blue !important;
						}
					}
				}
			}
			&.remove{
				left : -80px;
				div[color], div[date]{opacity: 0;}
				div[delete]{opacity : 1;}
			}
			&.removed{
				height: 0px;
				opacity: 0;
			}
			div[color]{
				opacity: 1;
				width:10px;height: 10px;
				border-radius : 100%;
				position: absolute;
				top: 47%;
				left: 25px;
				z-index: 2;
				@include transition(all $transition);
				@include transform(translateY(-50%));
			}
			div[date]{
				opacity: 1;
				display: inline-block;
				margin-left: $margin*3;
				padding-top: $margin;
				padding-bottom: $margin/2;
				text-align: center;
				@include transition(all $transition);
				span {@include transition(all $transition);}
				span:last-child{
					position: relative;
					top: -3px;
					left: -1px;					
				}
			}
			div[name]{
				display: inline-block;
				position: relative;
				top: - $margin + 2px;
				left: $margin*2;
				@include transition(all $transition);
			}
			div[delete]{
				position: absolute;
				width: 80px; height: 100%;
				left:100%; top: 0;
				background-color: $magenta;
				color: white;
				opacity: 0;
				text-align: center;
				font-size: 20px;
				line-height: 70px;
				@include transition(all $transition);
			}
			div[options-desktop]{
				@media (max-width: 960px) {display : none;}
				color: white;
				opacity: 0;
				float: right;
				position: relative;
				top: 24px;
				margin-right: $margin;
				@include transition(all $transition);				
				span{
					cursor: pointer;
					font-size: 22px;
					margin-left: $margin*1.5;
					@include transition(all $transition);
				}
				a{
					@include transition(all $transition);
					position: relative;
					top: -5px;
					@extend .btn-transparent;
					border-color: #FFFFFF;
					color : #FFFFFF;    
					&:hover{
						background-color: $dark-blue;
						color : #FFFFFF;
					}
				}
			}
		}
	}
}
home #home-view.menu-active{
	div.favoritos-header,
	favoritos div[favoritos-container]:before{z-index:0;}
}
