navigation-inputs{
	overflow: hidden;
	section{
		height : 100%;
		width : 100%;
		overflow : hidden;
		text-align : center;
		@include transition(all $transition);
		&.active {
			@media (max-width: 960px) {
				//width: 150%;
				//position:relative;
				//@include transform ( translateX(-16%));
				div[nav-option]{
					width: calc(24% - 20px);
					padding-left: $margin;
				}				
			}

		}
		div[nav-option]{
			height: 100%;
			width: 32%;
			display : inline-block;
			text-align : center;
			cursor : pointer;
			overflow : hidden;
			//padding-top: 10px;//
			@include transition(all $transition);
			@media #{$gt-sm} { 
				//height: 80px;
				text-align : left;
				padding-left : $margin;
				padding-top: 15px;//
			}
			&:nth-child(2) {
				border-right: 1px solid $light-gray;
				border-left: 1px solid $light-gray;
			}
			&.active {
				input.md-input{ border-bottom-color: $light-gray !important;}
				@media #{$gt-sm} { padding-top: 5px;}
				@media (max-width: 960px) {
					width: 58% !important;
				}
			}
		}
		div[nav-option="producto"]{
			text-align: left;
		}
	}
}