navigation-inputs{
	section{
		height : 100%;
		width : 100%;
		overflow : hidden;
		text-align : center;

		@include transition(all $transition);
		&.active {
			@media (max-width: 960px) {
				width: 150%;
				@include transform ( translateX(-16%));
				div{
					width: 13%;
					padding-left: $margin;
					&:first-child {
						padding-left: 6%;
					}
				}				
			}

		}
		input.md-input{ border-bottom-color: white !important;}
		div {
			//line-height: 60px;
			width: 32%;
			display : inline-block;
			text-align : center;
			cursor : pointer;
			overflow : hidden;
			@include transition(all $transition);
			@media #{$gt-sm} { 
				//line-height: 80px;
				text-align : left;
				padding-left : $margin;
			}
			&:nth-child(2) {
				border-right: 1px solid $light-gray;
				border-left: 1px solid $light-gray;
			}
			&.active {
				input.md-input{ border-bottom-color: $light-gray !important;}
				@media (max-width: 960px) {width: 50% !important;}
			}
		}
	}
}