resume {
	background-color : $light-gray !important;
	display : block;
	padding: 10px 0px;
	padding-bottom: 70px;
	@media #{$gt-sm} { padding-bottom: 10px; }
	
	[layout-margin] > [flex] {
	    margin: $margin/2 $margin;
	}

	div[main-container]{
		margin: 0;

		div[viz] {
			//height: 300px;
			background-color: white;
			@include box-shadow($shadow);
			@include transition(all $transition-long);
			&.collapsed {
				/*height: 30px;
				@media #{$gt-sm} {
					height: 45px;
				}*/
				overflow:hidden;
				vbars-chart, importadores, exportadores, treemap-chart, prices{padding-top: calc(0% + 0px) !important;}
			}

			/********************************
					FOR PROTOTYPE
			********************************/
			vbars-chart, importadores, exportadores, treemap-chart, prices{
				display : block;
				overflow: hidden;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				// background-image : url(/img/Barras.png);
				@include transition(all $transition);
			}
			vbars-chart {padding-top: 59%;overflow:visible;}
			prices {padding-top: 70%;overflow:visible;}
			treemap-chart {position:relative;padding-top: 170%;overflow:visible;}

			@media #{$gt-sm} {
				vbars-chart {padding-top: 20%;}
				prices {padding-top: 27%;}
				treemap-chart {padding-top: 20%;margin: 30px;}
			}

			/********************************
					END PROTOTYPE
			********************************/
			importadores, exportadores{
				background-image : none; 
				padding-top: calc(60% + 50px);
				
				@include transition(padding $transition);
				@media #{$gt-sm} {
					padding-top: calc(60% + 0px);
				}

				&.locked-area{
					@include transition(padding $transition 0.3s);
					padding-top: calc(60% + 0px);
				}
			}
		}

		div[countries] {
			div[viz]:first-child { margin-bottom : 16px; }
			@media #{$gt-sm} {
				div[viz] { max-width: calc(50% - #{$margin/2}); }
				div[viz]:first-child { margin-bottom : 0px; }
			}
		}


	}
}