resume {
	background-color : $light-gray !important;
	display : block;
	padding: 10px 0px;
	padding-bottom: 70px;
	@media #{$gt-sm} { padding-bottom: 10px; }
	
	[layout-margin] > [flex] {
	    margin: $margin/2 $margin;
	}

	div[main-container]{
		margin: 0;

		div[viz] {
			//height: 300px;
			background-color: white;
			@include box-shadow($shadow);
			@include transition(all $transition-long);
			&.collapsed {
				/*height: 30px;
				@media #{$gt-sm} {
					height: 45px;
				}*/
				fecha, importadores, exportadores, codigo, precios{padding-top: 0%;}
			}

			/********************************
					FOR PROTOTYPE
			********************************/
			fecha, importadores, exportadores, codigo, precios{
				display : block;
				overflow: hidden;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				background-image : url(/img/Barras.png);
				@include transition(all $transition);
			}
			fecha {background-image : url(/img/Barras-mobile.png); padding-top: 59%;}
			importadores {background-image : url(/img/Importadores.png); padding-top: 60%;}
			exportadores {background-image : url(/img/Exportadores.png); padding-top: 60%;}
			codigo {background-image : url(/img/Treemap-mobile.png); padding-top: 170%;}

			@media #{$gt-sm} {
				fecha {background-image : url(/img/Barras.png); padding-top: 20%;}
				codigo {background-image : url(/img/Treemap.png); padding-top: 20%;}
			}
		}

		div[countries] {
			div[viz]:first-child { margin-bottom : 16px; }
			@media #{$gt-sm} {
				div[viz] { max-width: calc(50% - #{$margin/2}); }
				div[viz]:first-child { margin-bottom : 0px; }
			}
		}


	}
}