#mapTooltip {
	position:absolute;
	padding:7px;
	border-radius: 2px;
	background-color: #FFFFFF;
	font-size: 12px;
	pointer-events: none;
	@include opacity(0);
	@include transition(opacity 0.2s linear, display 0s linear 0.2s);

	&.show {
		@include opacity(1);
	}


	.tooltip-item{
		display:flex;
		margin-bottom: 5px; 
		color:#000000;
		
		.item-left{
			flex-grow:1;
			text-align:left;
		}

		.item-right{
			flex-grow:1;
			text-align: right;	
		}
	}
}
