#mapTooltip {
	position:absolute;
	min-width: 200px;
	padding:7px;
	border-radius: 2px;
	background-color:rgba(239, 240, 240, 0.9);
	font-size: 12px;
	pointer-events: none;
	@include opacity(0);
	@include transition(opacity 0.2s linear, display 0s linear 0.2s);

	&.show {
		@include opacity(1);
	}

	.title{
		font-size: 14px;
		color:#0093FD;
	}

	.item{
		display:block;
		margin-bottom: 5px; 
		color:#000000;
	}
}
