<section layout="row" layout-align="space-between center">

  <section flex viz-name>
    <div ng-if="vizHeader.vizController.name !== null">{{vizHeader.vizController.name}}</div>
  </section>

  <section flex layout="row" layout-align="end center" viz-options>
    <div date ng-if="vizHeader.vizController.date !== null">{{vizHeader.vizController.date.start}} - {{vizHeader.vizController.date.start}} <span class="lnr lnr-calendar-full"></span></div> 

    <div lock ng-if="vizHeader.vizController.lock !== null" 
              ng-click="vizHeader.toggleLock()" 
              ng-class="{'unlocked' : !vizHeader.vizController.lock}"><span class="lnr lnr-lock" ></span><div></div></div>
    
    <div ng-if="vizHeader.vizController.refresh !== null"
         ng-click="vizHeader.refresh()"><span class="lnr lnr-sync"></span></div>

    <div ng-if="vizHeader.vizController.fullscreen !== null"
         ng-click="vizHeader.changeViewFrame()">
          <span class="lnr" ng-class="{'lnr-arrow-left' : (vizHeader.viewFrameState == 'expanded') , 'lnr-frame-expand' : (vizHeader.viewFrameState == 'contracted' || vizHeader.viewFrameState == 'changing') }"></span>
    </div>

    <div ng-if="vizHeader.vizController.collapsed !== null" 
         ng-click="vizHeader.vizController.collapsed = !vizHeader.vizController.collapsed">
          <span class="lnr" ng-class="vizHeader.vizController.collapsed ? 'lnr-chevron-up' : 'lnr-chevron-down'"></span>
    </div>
  </section>
</section>

<section nav-menu layout="row" layout-align="start center" ng-class="vizHeader.viewFrameState">
  <div flex>Mapa</div>
  <div flex>Tabla</div>
  <div bottom-bar></div>
</section>
