date-picker{
	position: relative;
	.date-spans{
		span[start],
		span[end]{
			padding: 0px;
		}
	}
	div.resume-dates{
		@extend .date-spans;
		cursor: pointer;
		span.lnr-calendar-full{
			padding: 0 $margin/2;
		}
	}
	div.date-picker{
		position: absolute;
		right: 0px;
		top: 0px;
		z-index: 1;
		height: 0px;
		width: 450px;
		opacity: 0;
		pointer-events: none;
		overflow: hidden;
		background-color: white;
		@include box-shadow($shadow-blur);
		@include transition(height $transition, opacity $transition);
		@extend .date-spans;
		@media (max-width: 960px) {
			position: fixed;
			width: 100vw;
		    height: calc(0vh - 0px);
		    top: 60px;
		    z-index: 25;
		    overflow: auto;
		}
		&.open{
			height: 325px;
			opacity: 1;
			pointer-events: all;
			@media (max-width: 960px){
				height: calc(100vh - 60px);
			}
		}
		div.temporal-period{
			background-color: $light-gray;
			padding-left: $margin;
			span.lnr{
				display: none;
				font-size: 20px;
				float: right;
			    padding-top: 6px;
			}
			@media (max-width: 960px){
				padding: 10px 20px;
				span.lnr{ display: block;}
			}
		}
		div.submit-section{
			clear: both;
			text-align: right;
			padding: 0 $margin $margin;
			@media (max-width: 960px){ display: none; }
		}
		div.submit-section-mobile{
			height: 60px;
			width: 100%;
			bottom: 0; left:0;
			position: fixed;
			line-height: 70px;
			background-color: $dark-blue;
			text-align: center;
			display: none;
			@media (max-width: 960px){ display: block; }
		}
		div.calendar-from,
		div.calendar-to{
			float: left;
			margin: 0px $margin $margin $margin;
			width: 185px;
			@media (max-width: 960px){
				width: calc(100% - 40px);
			}
			h4{
				margin-top: 0px;
				font-weight: normal;
				border-bottom: 1px solid $gray;
			}
			div[calendar]{
				background-color: $dark-blue;
				width: 180px;
				@media (max-width: 960px){float: right;}
				span[ng-repeat]{
					span{
						font-size: 12px;
						display: inline-block;
						width: 45px;
						height: 45px;
						float: left;
						text-align: center;
						color: white;
						border-bottom: 1px solid $dark-gray;
						line-height: 45px;			
						@media #{$gt-sm} {
							&:hover{
								background-color: rgba(255,255,255,0.5);
							}
						}	
						&.selected{
							background-color: rgba(255,255,255,0.5);
						}
						&.actual{
							position: relative;	
						}

						&.incomplete{
							&:after{
								content: "";
								position: absolute;
								width: 5px; height: 5px;
								border-radius: 100%;
								background-color: white;
								top: 5px; right: 5px;
							}
						}
						&.lnr{
							font-size: 14px;
							line-height: 45px;
						}					
					}
				}
				&:after{
					content: '';
					display: block;
					clear: both;
				}
			}
		}    
		div.calendar-from{
			@media (max-width: 960px){margin: $margin;}
		}
		div.calendar-to{
			@media (max-width: 960px){margin-bottom: 80px;}
		}
	}
}